#map-tooltip {
    position: absolute;
    font-size: 12px;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
}

/*.legend-bucket-one {*/
/*    fill: white;*/
/*    stroke: black;*/
/*}*/

/*.legend-bucket-two {*/
/*    fill: #d9f0a3;*/
/*    stroke: black;*/
/*}*/

/*.legend-bucket-three {*/
/*    fill: #addd8e;*/
/*    stroke: black;*/
/*}*/

/*.legend-bucket-four {*/
/*    fill: #78c679;*/
/*    stroke: black;*/
/*}*/

/*.legend-bucket-five {*/
/*    fill: #41ab5d;*/
/*    stroke: black;*/
/*}*/

/*.legend-bucket-six {*/
/*    fill: #238443;*/
/*    stroke: black;*/
/*}*/

/*.legend-bucket-seven {*/
/*    fill: #005a32;*/
/*    stroke: black;*/
/*}*/

.title {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.flexbox-container {
  display: flex;
  align-items: center;
  align-content: center;
}

.flexbox-item {
  margin: 30px;
  border: 3px solid black;
  background-color: none;
}

.flexbox-item1 {
  width: 100vw;
  min-height: 300px;
}

.flexbox-item2 {
  width: 50%;
  min-height: 300px;
}

.flexbox-item3 {
  width: 50%;
  min-height: 300px;
}

#treemapTooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}

.treemapTooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}